<ion-view view-title="Controles">
  <ion-content class="has-header">
    <div class="button-bar bar-assertive">
      <a class="button" ng-click="grabButton()" class="button button-block button-dark">Obtener botón</a>
    </div>

    <div class="list">
      <div class="item item-divider" ng-show="buttons.length > 0">
        Botones conocidos
      </div>
      <a ng-repeat="button in buttons" class="item item-thumbnail-left" href="#">
        <img src="img/button_{{button.color}}_idle.png">
        <p class="dark">{{button.color}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
