<ion-view view-title="Partida">
	<ion-nav-buttons side="left">
		<button class="button" ng-click="reset()">Iniciar</button>
    </ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button" ng-click="end()">Terminar</button>
    </ion-nav-buttons>
    <ion-content>

		<div class="list">
			<div class="item">
				<div class="item-col"></div>
				<div class="item-col">G</div>
				<div class="item-col">P</div>
				<div class="item-col">GF</div>
				<div class="item-col">GC</div>
			</div>
			<div class="item item-avatar" ng-repeat="player in $storage.players | filter: { won: '' } | orderBy: 'lost-won+0.01*goalsAgainst/goalsFor'" ng-click="checkin(player.id)">
				<img class="item-col" ng-src="img/{{player.name}}.png">
				<div class="item-col">{{player.won}}</div>
				<div class="item-col">{{player.lost}}</div>
				<div class="item-col">{{player.goalsFor}}</div>
				<div class="item-col">{{player.goalsAgainst}}</div>
			</div>
		</div>

    </ion-content>
</ion-view>