<div class="list">
	<div ng-repeat="player in $storage.queue">
	    <div class="item" ng-if="$even" ng-class="{{$index<4 ? 'a' : 'b'}}">
	    	<div class="queue1"><img class="avatar" ng-src="img/{{$storage.queue[$index].name}}.png"></div>
	    	<div class="queue2">
	    		<p class="player player1">{{$storage.queue[$index].name}}</p>
	        	<p class="player player2">{{$storage.queue[$index+1].name}}</p>
	    	</div>
	    	<div class="queue3"><img class="avatar" ng-src="img/{{$storage.queue[$index+1].name}}.png"></div>
	    </div>
	</div>
</div>
