<ion-view view-title="Jugadores">
	<ion-nav-buttons side="left">
		<!--button class="button" ng-click="$storage.scoreLocal = $storage.scoreLocal + 1"-->
		<button class="button" ng-click="popover.show($event)">
		Llegar
		</button>
    </ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button" ng-click="popover.show($event)">
		Salir
		</button>
    </ion-nav-buttons>
	<ion-content>
		<div class="list">
			<div class="item" ng-repeat="player in $storage.queue">{{player.name}}</div>
		</div>
	</ion-content>
</ion-view>