/* Empty. Add your own CSS if you like */
.queue1 {
	width: 25%;
	float: left;
}

.queue2 {
    padding: 10px;
	width: 50%;
	float: left;
}

.queue3 {
	width: 25%;
	float: left;
}

img.avatar {
	width: 60px;
}

p.player {
	font-family: Lobster;
  	font-size: 1.0em;
}

p.player1 {
	text-align: left;
}

p.player2 {
	text-align: right;
}

.scoreboard {
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: Coda;
	font-size: 16em;
	font-weight: 800;
	height: 300px;
	margin: 10px;
	line-height: 300px; /* ionic defaults put text with big fonts in wrong place */
	/*background-color: grey;*/
}

.score {
	width: 40%;
	/*background-color: lightgrey;*/
}

.local {
	color: #73af39;
}

.visitor {
	color: #439b9a;
}

.separator {
	width: 10%;
	/*background-color: grey;*/
}

.teamboard {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 1.5em;
	height: 250px;
	margin: 10px;
	/*background-color: grey;*/
}

.teamplayer {
	width: 20%;
	padding: 10px;
	font-family: Lobster;
	/*background-color: lightgrey;*/
}

.teamplayer img {
	width: 80%;
}

.football img {
	width: 30%;
}

.item {
	font-family: Lobster;
  	display: flex;
}

.item-col {
  flex: 1;
}

.cancelButton {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 1.5em;
	margin: 10px;
}